<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automobili</title>
</head>
<body>

    <table border="1" style="border-collapse: collapse;">
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Godiste</th>
        </tr>
        {% for automobil in automobili %}
        <tr>
            <td>{{ automobil[0] }}</td>
            <td>{{ automobil[1] }}</td>
            <td>{{ automobil[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>