<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width: 200px;
        }
    </style>
</head>
<body>
    <h1>Proizvod</h1>

    <h2>Naziv Proizvoda: {{ naziv_proizvoda }}</h2>
    <img src="{{ slika_proizvoda }}" alt="Slika">
    <span>Cena prozivoda: {{ cena_proizvoda }}</span>
</body>
</html>